<div id="BudgetContainer" style="width:100%; overflow:hidden;">
    <div id="SheetsTab">
        <ul id="ulTabs">
            <li><a href="#tab_0" title="Agregar paquete">+</a></li>
        </ul>
        <div id="tab_0" style="text-align:center;">
            <h5>Haga clic en + para agregar un nuevo paquete</h5>
        </div>
    </div>
</div>

<div id="budgetDialog"></div>
<div id="editPremiseDialog"></div>
<div id="premiseDialog"></div>
<div id="deleteLineDialog"></div>
<div id="generateLinesConfirmationDialog"></div>
<div id="authorizeBudgetDialog"></div>
<div id="enableBudgetChangesDialog"></div>
<div id="requestAuthorizationDialog"></div>
<div id="exportHistoricalReportDialog"></div>
<div id="accountAdjustmentDialog"></div>
<div id="budgetingLineAdjustmentDialog"></div>
<div id="savingsTransferDialog"></div>
<div id="increasesModificationsDialog"></div>
<div id="importFileDialog"></div>

<script type="text/x-jsrender" id="columnTemplate">
    <span></span>
</script>

<style type="text/css">
    .RowHeader, .Value, .e-grid .e-headercell{
        font-size: 10px;
        line-height: 10px;
    }
</style>