<div>
    <p>
        La contraseña se editó satisfactoriamente.
    </p>

    <p style="text-align: center;">
        <input id="btnLogin" type="button" class="btn" value="Iniciar sesión" />
    </p>
</div>
<style>
    .e-dialog>.e-header{
            border-bottom: 3px solid rgb(0, 48, 135)!important;
    }
    .btn:hover{
            color: rgb(0, 48, 135);
            background-color: rgb(192, 223, 22);
            border-color: rgb(192, 223, 22);
        }
    .btn{
            background-color: rgb(196, 214, 0);
            border-color: rgb(196, 214, 0);
            color: rgb(0, 48, 135);
    }

    p{
        color:rgb(0, 48, 135);
    }
</style>
<script>
    $(function () {
        
        $("#btnLogin").click(function () {
            var urlLogin = getUrl("/Home/Login");
            $("#changePassDialog").data("ejDialog").close();
            window.location = urlLogin;
        });
    });

</script>