
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<style type="text/css">

    #fileTypeCheckboxesContainer > div {
        margin-left: 20px;
    }

    #buttonsContainer {
        text-align: center;
        margin-top: 20px;
    }

    #file {
        width: 380px;
    }
</style>

<div>
    <label>Tipo de archivo:</label>
    <div>
        <div id="fileTypeCheckboxesContainer">

            <div>
                <input id="RealType" name="typeFile" type="radio" value="real" checked onclick="TypeRadioButton(this.value)" /> Real
            </div>
            
            <div>
                <input id="CommittedType" name="typeFile" type="radio" value="commited" onclick="TypeRadioButton(this.value)" /> Comprometido CECOS
            </div>

            <div>
                <input id="CommittedOrdersType" name="typeFile" type="radio" value="commitedOrders" onclick="TypeRadioButton(this.value)" /> Comprometido órdenes
            </div>
            
        </div>

        <hr />

        <div>
            <label>Periodo: </label>
            <input type="text" id="monthsReal" />
            <input type="text" id="monthsCommited" />
        </div>
        
        <hr />
        
        <div>
            <label>Archivo: </label>
            <input type="file" id="file" />
        </div>

        <div id="buttonsContainer">
            <input type="button" class="btn btn-primary" value="Aceptar" id="btnOkImportFile" />
            <input type="button" class="btn btn-primary" value="Cancelar" id="btnCancelImportFile" />
        </div>
    </div>
    <div id="demo">
        <ul id="demoList"></ul>
    </div>

    <div id="CommitedClickList">
        <ul id="commitedListMoths"></ul>
    </div>
</div>


<script type="text/javascript">

    function TypeRadioButton(type) {

        if (type == "real") {

            $('#monthsReal').ejDropDownList("clearText");
            $("#monthsReal_wrapper").show();
            $("#demo").show();
            $("#monthsCommited_wrapper").hide();
            $("#CommitedClickList").hide();

        } else if (type == "commited" || type == "commitedOrders") {

            $('#monthsCommited').ejDropDownList("clearText");
            $("#monthsReal_wrapper").hide();
            $("#demo").hide();
            $("#monthsCommited_wrapper").show();
            $("#CommitedClickList").show();
        }
    };

    function getMonthName(monthNumber) {
        switch (m) {
            case "Enero": return 1;
            case "Febrero": return 2;
            case "Marzo": return 3;
            case "Abril": return 4;
            case "Mayo": return 5;
            case "Junio": return 6;
            case "Julio": return 7;
            case "Agosto": return 8;
            case "Septiembre": return 9;
            case "Octubre": return 10;
            case "Noviembre": return 11;
            case "Diciembre": return 12;
            default: return 0;
        }
    };

    function postDocument(userfile, companyId, fiscalYear, month, url) {

        var formdata = new FormData();
        formdata.append("userfile", userfile);
        formdata.append('companyId', companyId);
        formdata.append('fiscalYear', fiscalYear);
        formdata.append('month', month);

        ej.WaitingPopup.showDefault();
        $.ajax({
            url: url,
            data: formdata,
            processData: false,
            contentType: false,
            type: 'POST'
        }).done(function () {
            alert("El archivo se procesó satisfactoriamente");
            closeImportDialog();
        }).fail(function (jqXHR, textStatus, errThrown) {
            if (jqXHR.status == 400 && jqXHR.responseJSON && jQXHR.responseJSON.Message) {
                alert(jqXHR.responseJSON.Message);
            } else {
                alert("Ocurrió un error al intentar importar el archivo");
            }
        }).always(function () {
            ej.WaitingPopup.hideDefault();
        });
    };

    function closeImportDialog() {

        $("#importFileDialog").data("ejDialog").close();
    };

    $(function () {

        $('#monthsCommited').ejDropDownList({
            watermarkText: "Selecccione un mes",
            width: 380,
            select: function (args) { sessionStorage.setItem("monthImport", args.value); }
        });

        $('#monthsReal').ejDropDownList({
            watermarkText: "Selecccione un mes",
            width: 380,
            select: function (args) { sessionStorage.setItem("monthImport", args.value); }
        });

        TypeRadioButton("real");

        var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
        var currentMonth = new Date().getMonth();
        var m1 = [];
        for (var i = 0 ; i <= currentMonth; i++) {
            m1 += "<li>" + meses[i] + "</li>";
        }
        document.getElementById("demoList").innerHTML = m1;
        $('#monthsReal').ejDropDownList({ targetID: "demo" });

        //messes de comprometido
        var m2 = [];
        for (var k = currentMonth + 1; k < 12; k++) {
            m2 += "<li>" + meses[k] + "</li>";
        }
        document.getElementById("commitedListMoths").innerHTML = m2;
        $('#monthsCommited').ejDropDownList({ targetID: "CommitedClickList" });
    });

    $("#btnOkImportFile").click(function () {

        var companyId = sessionStorage.getItem("companyImport");
        var fiscalYear = sessionStorage.getItem("fiscalYearImport");
        var m = sessionStorage.getItem("monthImport");
        var month = getMonthName(m);

        if (document.getElementById("RealType").checked == true) {
            if ($("#monthsReal").val() == "") {
                alert("Debe seleccionar un mes");
            } else if ($("#file").val() == "") {
                alert("Debe seleccionar un archivo para importar");
            } else {
                postDocument($("#file").get(0).files[0], companyId, fiscalYear, month, getUrl("/api/Import/"));
            }
        } else if (document.getElementById("CommittedOrdersType").checked == true) {
            if ($("#monthsCommited").val() == "") {
                alert("Debe seleccionar un mes");
            } else if ($("#file").val() == "") {
                alert("Debe seleccionar un archivo para importar");
            } else {
                postDocument($("#file").get(0).files[0], companyId, fiscalYear, month, getUrl("/api/Import/PostCommittedOrdersFile/"));
            }
        } else if (document.getElementById("CommittedType").checked == true) {
            if ($("#monthsCommited").val() == "") {
                alert("Debe seleccionar un mes");
            } else if ($("#file").val() == "") {
                alert("Debe seleccionar un archivo para importar");
            } else {
                postDocument($("#file").get(0).files[0], companyId, fiscalYear, month, getUrl("/api/Import/PostCommittedCostCenterFile/"));
            }
        }
    });

    $("#btnCancelImportFile").click(closeImportDialog);
 
</script>