@{
    Layout = "~/Views/Shared/_Initial.cshtml";
}

@section Header{

    <script>

        function showSuccessDialog() {
            var passChangeDialog = $("#changePassDialog").data("ejDialog");

            if (passChangeDialog != undefined)
                passChangeDialog.destroy();

            passChangeDialog = $("#changePassDialog").ejDialog({
                enableModal: true,
                enableResize: false,
                contentType: "ajax",
                showOnInit: false,
                allowDraggable: true,
                isResponsive: true,
                actionButtons: []
            }).data("ejDialog");
            passChangeDialog.option({
                contentUrl: getUrl("/Home/_ChangePasswordSuccess"),
                title: "Cambio de contraseña"
            });

            passChangeDialog.open();
        };

        var redirectToLogin = getUrl("/Home/Login");
        function redirectLogin() {
            window.location = redirectToLogin
        };

        var testAuth = function () {
            var user = $('#user').val();
            var id;
            var pass = $('#pass').val();
            var newPass = $('#newPass').val();
            var repeatPass = $('#repeatPass').val();

            if (newPass == repeatPass && newPass.length >= 6) {

                if (pass != newPass) {

                    var userId = sessionStorage.getItem("userId");
                    PasswordChange(userId, pass, newPass);
                
                } else {
                    alert("La contraseña antigua y la nueva contraseña no pueden ser iguales.");
                }
            }
            else {
                alert("Las contraseñas nuevas deben coincidir y contener al menos 6 caracteres.");
            }
        };

        function PasswordChange(usrId, currentPass, passNew) {
            
            var urlPasswordchange = getUrl("/api/Users/ChangePassword");
            $.ajax({
                method: "PUT",
                url: urlPasswordchange,
                data: {
                    id: usrId,
                    currentPassword: currentPass,
                    newPassword: passNew
                }
            }).done(function (data) {
                showSuccessDialog();
            }).fail(function (jHXR, textStatus, errThrown) {
                alert(jHXR.responseJSON.Message);
            });
        };

        function getGET() {
            // capturamos la url
            var loc = document.location.href;
            // si existe el interrogante
            if (loc.indexOf('?') > 0) {
                // cogemos la parte de la url que hay despues del interrogante
                var getString = loc.split('?')[1];
                // obtenemos un array con cada clave=valor
                var GET = getString.split('&');
                var get = {};

                // recorremos todo el array de valores
                for (var i = 0, l = GET.length; i < l; i++) {
                    var tmp = GET[i].split('=');
                    get[tmp[0]] = unescape(decodeURI(tmp[1]));
                }
                return get;
            }
        };

        function getGET() {
            // capturamos la url
            var loc = document.location.href;
            // si existe el interrogante
            if (loc.indexOf('?') > 0) {
                // cogemos la parte de la url que hay despues del interrogante
                var getString = loc.split('?')[1];
                // obtenemos un array con cada clave=valor
                var GET = getString.split('&');
                var get = {};

                // recorremos todo el array de valores
                for (var i = 0, l = GET.length; i < l; i++) {
                    var tmp = GET[i].split('=');
                    get[tmp[0]] = unescape(decodeURI(tmp[1]));
                }
                return get;
            }
        };

        window.onload = function () {
            // Cogemos los valores pasados por get
            var valores = getGET();
            if (valores) {
                // hacemos un bucle para pasar por cada indice del array de valores


                //console.log( valores.userName);
                $('#user').val(valores.userName);

            } else {
                // no se ha recibido ningun parametro por GET
                document.write("<br>No se ha recibido ningún parámetro");
            }
        };
    </script>
    <style>
        #user {
            margin-left: 80px;
        }

        #pass {
            margin-left: 10px;
        }

        #newPass {
            margin-left: 12px;
        }

        #repeatPass {
            margin-left: 13px;
        }

        #change {
            margin-left: 140px;
        }

        .id {
            display: none;
        }
         .navbar-inverse {
            background-color: white;
            border-color: white;
            border-bottom: 3px solid rgb(0, 48, 135);
            margin-top: 20px;
        }

        .btn-primary {
            background-color: rgb(196, 214, 0) !important;
            border-color: rgb(196, 214, 0) !important;
            color:rgb(0, 48, 135) !important;
        }

        .navbar-brand {
            color: #ffffff !important;
        }

        #pass:focus {
            outline-color: rgb(0, 156, 222) !important;
            
        }

        #newPass{
            outline-color: rgb(0, 156, 222) !important;
        }

        #repeatPass{
            outline-color: rgb(0, 156, 222) !important;
        }
        .btn-primary:hover{
            color: rgb(0, 48, 135) !important;
            background-color: rgb(192, 223, 22)!important;
            border-color: rgb(192, 223, 22)!important;
        }
        .e-title {
    color: rgb(0, 48, 135);
    }

        #livImg {
            height: auto;
            width: auto;
            max-width: 131px;
            margin-top: -42px;
            margin-left:-15px;
        }

        #SpresSpan {
            float: right;
            font-size: 17px;
            margin-top: 17px;
            margin-right: 15px;
            font-family: Raleway;
            color: rgb(0, 48, 135);
        }

        #actPassLbl{
            color:rgb(0, 48, 135) ;
        }

        #newPassLbl{
            color:rgb(0, 48, 135);
        }
        #repeatPassLbl{
            color:rgb(0, 48, 135);
        }
        #loginSpres{
                font-size: 26px;
    color: rgb(0, 48, 135);
    margin-left: 130px;
    margin-bottom: 13px;
    margin-top: 27px;
    font-family:Raleway;
        }
    </style>
}

    <div id="changePassDialog"></div>
    <div class="navbar navbar-inverse">
        <span class="navbar-brand"><span class="navbar-brand"><img id="livImg" src="~/Content/livsmart.png" /></span></span>
        <span id="SpresSpan">Sistema de administración de presupuestos</span>
    </div>
    @*<div class="alert alert-danger text-center"
             data-bind="visible: model.gotError(), text: model.error()">
        </div>*@
    <div>
        <div class="text-center">
            <div id="loginSpres">
                <span class="text-center">Cambio de contraseña</span>
            </div>
            <form action="testAuth">
                <div class="form-group" style="display:none">
                    <label>Usuario</label>
                    <input id="user" />
                </div>
                <div class="form-group">
                    <label id="actPassLbl">Contraseña actual</label>
                    <input type="password" id="pass" />
                </div>
                <div class="form-group">
                    <label id="newPassLbl">Nueva contraseña</label>
                    <input type="password" id="newPass" />
                </div>
                <div class="form-group">
                    <label id="repeatPassLbl">Repita contraseña</label>
                    <input type="password" id="repeatPass" />
                </div>
                <div class="form-group id">
                    <label>Id  de usuario</label>
                    <input type="text" id="id" />
                </div>
                <button class="btn btn-primary" id="change"
                        data-bind="click: testAuth">
                    Cambiar contraseña
                </button>
            </form>
        </div>
    </div>


