
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No autorizado</title>
</head>
<body>
    <div>
        No está autorizado para acceder a este recurso. Contacte al administrador del sistema.
    </div>
</body>
</html>
